h1 {
  font-size: 7rem;
  font-family: Ubuntu;
  color: #f286e6;
}
h2{
  font-size: 2rem;
  font-family: roboto;
    color: #2d3345;
    margin-top: 2rem;
}
h3{
  font-size: 3rem;
  font-family: Montserrat;
  color:#155d9E;
}
h4{
  font-size: 1.5rem;
  font-family: roboto;
  color: #2d3345;
}
p{
  font-size: 1.5rem;
  font-family: Montserrat;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #f286e6;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #f286e6;
}
.carousel-inner{
   height: 100%;
}
.color-section{
  background-color: #e7eef4;
  color: #2d3345;
}
.community-heading{
  color: #f286e6;
}
.ellie-pic{
  height:40%;
  width: 40%;
  border-radius: 50%;
  padding: 1.5rem;
}
.footer-items{
  padding: 3rem 1.5rem;
}
.footerbrand{
  height:30px;
  width:30px;
}
.imgtitle{
  height: 600px;
  width: 600px;
}
.press-logo{
  height: 30%;
  width:30%;
  margin: 20px 20px 50px;
}
.selector
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
}
.testimonial-title{
  padding-bottom: 2rem;
}
.white-section {
  padding: 3rem;
}
#about{
  text-align: center;
  padding: 7rem 5rem;
}
#cta{
  text-align: center;
  padding: 10rem;
  font-size: 2rem;
}
#footer{
  text-align: center;
  color: #f286e6;
  font-size: 1rem;
  font-family: Montserrat;
}
#heading{
  margin-top: 3.5rem;
}
#testimonials{
  text-align: center;
  padding: 10rem;
}
#title{
  font-family: Montserrat;
}
